<!doctype html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Appsbroker hello world app</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="preload" as="font">
</head>
<body>
    <div class="container">
        <h1>{{.Message}}</h1>
        <p>This is a simple application made for the Appsbroker interview task.</p>

        <p>Attempting to access Cloud Storage...</p>

        <p>{{.CloudStorage}}</p>

        <p>Attempting to access Cloud SQL...</p>
        <ul>
            {{range .CloudSQL}}
                <li>ID: {{.ID}} - Foo: {{.Foo}}, Bar: {{.Bar}}, Baz: {{.Baz}}</li>
            {{end}}
        </ul>
    </div>
</body>
</html>